block variables

doctype html
html(lang="em")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    tilte FLOEMA

    meta(name="description" content="floema beautiful jewelry.")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00")
    meta(name="msapplication-TileColor" content="#f4d8cc")
    meta(name="theme-color" content="#f4d8cc")


    //- meta(property="og:type" content="website")
    //- meta(property="og:title" content=(meta && meta.data && meta.data.title) ? meta.data.title : '')
    //- meta(property="og:description" content=(meta && meta.data && meta.data.description) ? meta.data.description : '')
    //- meta(property="og:image" content=(meta && meta.data && meta.data.image && meta.data.image.url) ? meta.data.image.url : '')

    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:title" content=(meta && meta.data && meta.data.title) ? meta.data.title : '')
    //- meta(name="twitter:description" content=(meta && meta.data && meta.data.description) ? meta.data.description : '')
    //- meta(name="twitter:image" content=(meta && meta.data && meta.data.image && meta.data.image.url) ? meta.data.image.url : '')

    //- Open Graph meta tags
    meta(property="og:type" content=(meta && meta.data && meta.data.title) ? meta.data.title : '')
    meta(property="og:title" content=(meta && meta.data && meta.data.title) ? meta.data.title : '')
    meta(property="og:description" content=(meta && meta.data && meta.data.description) ? meta.data.description : '')
    meta(property="og:image" content=(meta && meta.data && meta.data.image && meta.data.image.url) ? meta.data.image.url : '')

    //- Twitter meta tags
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=(meta && meta.data && meta.data.title) ? meta.data.title : '')
    meta(name="twitter:description" content=(meta && meta.data && meta.data.description) ? meta.data.description : '')
    meta(name="twitter:image" content=(meta && meta.data && meta.data.image && meta.data.image.url) ? meta.data.image.url : '')









    //- link(rel="preconnect" href="https://www.google-analytics.com")
    //- link(rel="preconnect" href="https://fonts.gstatic.com")

    //- link(rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Robot:wght@500&display=swap")
    //- link(rel="preload" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Robot:wght@500&display=swap")

    //- noscript
    //-   link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Robot:wght@500&display=swap")

    link(href="main.css" rel="stylesheet")

    //- style
    //-   include ../public/main.css

    body
      include ./partials/preloader
      include ./partials/navigation

      .content#content(data-template=template)
        block content
